@font-face {
	font-family: 'Futura';
	//src: url("https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0b.woff2");
	src: url("fonts/Futura.woff");
	
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');

@import './vendor/bootstrap.min.css';
@import './vendor/font-awesome.min.css';
@import './vendor/themify-icons.css';

@import '_variables';

html,
body {
	height: 100%;
	font-family: "Lato", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #20509e;
	margin: 0;
	font-weight: 500;
	font-family: "Futura", sans-serif;
}

h2 {
	font-size: 48px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 20px;
}

p {
	font-size: 15.7px;
	color: #75849a;
	line-height: 1.6;
}

img {
	max-width: 100%;
}
